/* header customisations */
header h1 {
	font-size: 24px;
	font-weight: normal;
	color: grey;
}

header h2 {
	font-size: 36px;
	font-weight: 700;
	color: black;
}

header h3 {
	color: grey;
	font-weight: light;
}

header {
	padding-bottom: 0px;
}

.inner {
	width: 780px;
}

body {
	color: #333;
