/* header customisations */
header h1 {
	font-size: 24px;
	font-weight: normal;
	color: grey;
}

header h2 {
	font-size: 36px;
	font-weight: 700;
	color: black;
}

header h3 {
	color: grey;
	font-weight: light;
}

header {
	padding: 0px;
	background: url(/media/back.png) no-repeat;
	border-bottom: 2px solid #ccc;
}

.inner {
	width: 760px;
}


#main_content {
	padding: 12px;
	color: #333;
	background-color: #f0f0f0;
}
